# =========================
# Python
# =========================
__pycache__/
*.pyc
venv/
.env

# =========================
# ML checkpoints
# =========================
backend/checkpoints/
backend/checkpoints_420/
backend/checkpoints_422/

# =========================
# Downloaded / generated datasets
# =========================
backend/data/how2sign/
backend/data/how2sign_landmarks/
backend/data/how2sign_processed/
backend/dataset/

# =========================
# Local ML backup files
# =========================
backend/ml/*_backup.py